<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
    <title>ADD PRODUCTS</title>
</head>
<body>
    <div>
        <h1> --- ADD PRODUCTS --- </h1>
        <form action="/product/addProduct" method="post">
            <h3>Mã Sản Phẩm: </h3>
            <input type="text" name="Id">
        </br>
            <h3>Tên Sản Phẩm:</h3>
            <input type="text" name="Name">
        </br>
            <h3>Hình ảnh</h3>
            <input type="text" name="Picture">
        </br>
            <h3>Giá</h3>
            <input type="text" name="Price">
        </br>
        </br>
            <button type="submit">Add Product</button>
            <button><a href="/product">Back</a></button>
        </form>
    </div>
</body>
</html>

